<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

    <title>{{portfolio.name}}</title>

    <link href="https:///maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
      {{{css}}}
    </style>
  </head>
  <body>
    <div class="container portfolio">
      <header class="row">
        <div class="well">
          <div class="col-md-offset-1 col-md-6">
            <h3>{{portfolio.name}}</h3>
            <p>{{portfolio.comment}}</p>
          </div>
          <div class="col-md-offset-1 col-md-3">
            <h3>Contact</h3>
            <p>
              {{portfolio.contact.name}}
              <br/>
              {{portfolio.contact.number}}
              <br/>
              {{portfolio.contact.email}}
            </p>
          </div>
        </div>
      </header>

      <div class="row">
        {{#each portfolio.snapshots}}
          <a href="///{{domain}}{{path}}">
            <div class="col-sm-6 col-md-3 text-center">
              <div class="text-center">
                <div class="photo">
                  <img width="230" height="230" src="{{this.profile.about.photo_url}}">
                </div>
                <h4>{{this.profile.about.name}}</h4>
                <span class="title">{{this.profile.about.title}}</span>
                <p class="passion">{{{truncate this.profile.about.passion 120}}}</p>
              </div>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  </body>
</html>
