<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

  <title>{{profile.name}}</title>

  <link href="https:///maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <style type="text/css">
    {{{css}}}
  </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3 sidebar">
          <div class="photo">
            <img width="230" height="230" src="{{profile.about.photo_url}}">
          </div>
          <h4>{{profile.about.name}}</h4>
          <span class="title">{{profile.about.title}}</span>
          <p class="passion">{{profile.about.passion}}</p>

          <div class="skills">
            <h3>Skills</h3>
            <ul class="list-unstyled">
              {{#each profile.skills}}
                <li>{{this.name}}</li>
              {{/each}}
            </ul>
          </div>

          <footer class="sidebar-footer">
            <section class="links">
              <ul class="list-inline">
                {{#each profile.network}}
                  <li>
                    <a href="{{this.url}}" title="{{this.type}}">
                      <i class="fa {{logo this.type}}"></i>
                    </a>
                  </li>
                {{/each}}
              </ul>
            </section>

            <small>
              <a href="{{profile.links.pdf}}">Download Printable Version</a>
            </small>
          </footer>
        </div>

        <div class="col-md-9 main-content">
          <div class="well">
            <div class="text-right">
              <a class="logo" target="_blank" href="http://precise.io">
                PRECISE
              </a>
            </div>
            <p class="bio">{{profile.about.bio}}</p>
            <h3>Job Experience</h3>

            {{#each profile.experience}}
              <div class="row">
                <div class="col-md-3 period">
                  {{this.period}}
                </div>
                <div class="col-md-9">
                  <h4>
                    {{this.place}}
                    <small>{{this.role}}</small>
                  </h4>

                  <p>{{{md this.description}}}</p>
                </div>
              </div>
            {{/each}}

            <h3>Education</h3>

            {{#each profile.education}}
              <div class="row">
                <div class="col-md-3 period">
                  {{this.period}}
                </div>
                <div class="col-md-9">
                  <h4>
                    {{this.place}}
                  </h4>

                  <p>{{{md this.description}}}</p>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
