@import url(
  https://fonts.googleapis.com/css?family=Lato:300,400
);

body {
  background: #eee;
  font-family: Lato, sans-serif;
  padding-bottom: 40px;
  font-size: 18px;
  font-weight: 300;
}

.container {
  background: white;
  margin: 20px auto;
  box-shadow: 5px 5px 10px #ccc;
}

.sidebar {
  text-align: center;
  padding-bottom: 150px;
}

header, .sidebar {
  background-color: #6fa8dc;
  color: white;
}

.sidebar a {
  color: white;
  text-decoration: underline;
}

.sidebar, .sidebar p {
  color: white;
}

header h3, .sidebar h3 {
  border-bottom: none;
}

.passion {
  margin: 25px auto 30px;
  font-style: italic;
  letter-spacing: 0.5px;
}

.passion:before,
.passion:after {
  content: '"';
}

.photo {
  text-align: center;
  margin-top: 25px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.bio {
  text-align: justify;
  margin-bottom: 30px;
  margin-top: 10px;
}

.links {
  margin-top: 20px;
  text-align: center;
  font-size: 2em;
}

.period {
  padding-top: 6px;
}

h4 small {
  margin-left: 10px;
}

h3 {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.skills ul {
  text-align: left;
  color: white;
  margin-left: 10px;
}

.logo {
  text-align: right;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: -2px;
  word-spacing: 7px;
  text-transform: uppercase;
}

.logo, .logo:hover, .logo:visited, .logo:active {
  text-decoration: none;
  color: #333;
}

header {
  min-height: 200px;
}

a, a:hover {
  color: inherit;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(237, 237, 237, 0);
  border-radius: 0;
  border: 0;
  box-shadow: none;
}
